*{
	margin: 0;
}

.navbar{
	font-family: sans-serif;
	margin-top: 20px;
	text-align: center;
}

.navbar .sb{
	float: right;
	margin-right: 25px;
	border-radius: 10px;
}

.navbar .sb input{
	padding: 10px;
	border-radius: 10px;
	background-color: lightgray;
}

.navbar img{
	width: 60px;
	cursor: pointer;
	float: right;
}

.secnavbar{
	text-align: center;
	justify-content: center;
	margin-left: 2001px;
}

.secnavbar ul{ 
  	margin: 0px auto 0; 
  	padding: 0; 
  	list-style: none; 
  	display: table;
  	width: 700px;
  	text-align: center;
  	border: 1px;
  	font-size: 12px;
}

.secnavbar ul li{ 
  	display: table-cell; 
  	position: relative; 
  	padding: 15px 0;
}

.secnavbar ul li a{
  	color: black;
  	text-transform: uppercase;
  	text-decoration: none;
  	letter-spacing: 0.15em;
  	display: inline-block;
  	padding: 10px 30px;
  	position: relative;
  	font-family: sans-serif;
  	border: 1px;
  	text-align: center;
  	justify-content: center;
}

.secnavbar a:after {    
  	background: none repeat scroll 0 0 transparent;
  	bottom: 0;
  	content: "";
  	display: block;
  	height: 2px;
  	left: 50%;
  	position: absolute;
  	background: black;
  	transition: width 0.3s ease 0s, left 0.3s ease 0s;
  	width: 0;
}
.secnavbar a:hover:after { 
  	width: 100%; 
  	left: 0; 
}
.highlight img{
	max-width: 100%;
}

.body h2{
	font-family: sans-serif;
}

.body{
	padding-top: 20px;
	text-align: center;
	font-family: sans-serif;
	margin-right: 180px;
	margin-left: 180px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.product img{
	width: 200px;
}

.body img{
	width: 200px;
}

.body .product{
	display: flex;
	padding-top: 50px;
}

.deskripsi{
	text-align: left;
	padding-left: 25px;
	padding-right: 30px;
	font-size: 12px;
}

.body button{
	margin-top: 50px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: sans-serif;
	text-transform: uppercase;
	text-decoration: none;
  	letter-spacing: 0.15em;
  	box-shadow: inset 0 0 0 0 darkgray;
  	-webkit-transition: ease-out 0.4s;
  	-moz-transition: ease-out 0.4s;
  	transition: ease-out 0.4s;
}

.body button:hover {
  box-shadow: inset 400px 0 0 0 darkgray;
}

.body2{
	display: flex;
	text-align: center;
	margin-left: 95px;
}

.body2 img{
	width: 550px;
	height: 180px;
	padding-right: 15px;
	padding-bottom: 10px;
	border-radius: 10px;
	padding-left: 15px;
	padding-top: 10px;
}

.body2 img:hover{
  transform: scale(1.05,1.05);
}

.body2 img:active{
  transform: unset;
}

.deskripsi{
	font-family: sans-serif;
}

.review{
	font-family: sans-serif;
	text-align: center;
	padding: 50px;
	font color: white;
	background-color: darkgray;
	margin-top: 50px;
	letter-spacing: 0.15em;
}

.footer{
	display: flex;
	font-family: sans-serif;
	padding: 100px;
	padding-bottom: 50px;
}

.footer .sosmed{
	margin-right: 100px;
}

.footer2{
	text-align: center;
	font-family: sans-serif;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom: 50px;
	font-size: 12px;
}

.footer2 img{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80px;
}

.footer .feedback{
	font-family: sans-serif;
}

.footer .feedback input{
	padding: 10px;

}